<!-- views/partials/head.ejs -->


<meta charset="UTF-8">
<title>My TinyURL App</title>

<!-- <a href="/register">Register</a> &nbsp; &nbsp; &nbsp;
<a href="/login">Login</a> -->

<% if (user && user.id) { %>
  You are logged in as: <%= user.email %>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <a href="/register">Register</a> &nbsp; &nbsp; &nbsp;
  <a href="/login">Login</a>
<% }; %>

<h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tiny URL App</h1>







