<!DOCTYPE html>

<html lang="en">

<head>

  <% include ../partials/_header %>

</head>

<body>
    <% if (!user) { %>

        <p>Please login or register.</p>

    <% } else if (urls[shortURL]["userID"] !== user["id"]) { %>

        <p>The selected short code that appears in the URL does not belong to you.</p>

    <% } else { %>

    <h4> The selected URL has the following Short Link:</h4>

    <ul>
    <!-- Add your EJS code here -->
        <li><%= urls[shortURL]["longURL"] %> - <%= shortURL %></li>
        <br>
        <% if (user && urls[shortURL]["userID"] == user["id"]) { %>

            <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
              <input type="text" name="newLongURL" value="http://">
                <input type="submit" value="Update this URL">
            </form>
            <br>
            Short Link visits: <%= urls[shortURL]["visits"] %>

        <% } %>
    </ul>
    <br>
    <p>Click here to <a href="/urls">See All Your Short Links</a>.</p>
    <br>
    <p>Click here to <a href="/urls/new">Create a New Short Link</a>.</p>

    <% } %>

</body>

</html>