<!DOCTYPE html>

<html lang="en">

<head>

  <% include ../partials/_header %>

</head>

<body>
    <h4> The selected URL has the following shortened code:</h4>

    <ul>
    <!-- Add your EJS code here -->
        <li><%= urls[shortURL]["longURL"] %> - <%= shortURL %></li>
        <br>
        <% if (user && urls[key]["userID"] == user.id) { %>

            <form method="POST" action="/urls/<%= shortURL %>">
              <input type="text" name="newLongURL" value="http://">
                <input type="submit" value="Update this URL">
            </form>

        <% } %>
    </ul>
    <br>
    <p>Click <a href="#">HERE</a> to shorten a new URL</p>

</body>

</html>